.form{
	position: relative;		
	width: 425px;
	height: 600px;
	padding-left: 20px;
	padding-top:15px;
	background-color: #ccc; 
	border-radius: 20px;
	margin: auto;
}
input [type="option"],[type="option"]{
	width: 320px;
	height: 40px;
}
@media (max-width: 40px){
	form{
		width: 100%;
	}
  }
