.button {
  background-color: gray; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#menu{
		width:280px;
		height: 200px;
		position: fixed;
		background: transparent;
	}
#menu ul{
	padding-top: 10px;
	margin-left: -30px;
	margin-right: 20px;

}
	
#menu ul a{
	text-decoration: none;
	color: black;
	font: 16px Verdana;
	display:block;
	background: #ffa133;
	margin-bottom: 10px;
	padding:10px 20px 10px 40px;
	border-radius: 15px;
	transition: background .6s, margin-left .6s, margin-right .6s;
	-webkit-transition: background .6s, margin-left .6s, margin-right .6s;
	-moz-transition: background .6s, margin-left .6s, margin-right .6s;
	-o-transition: background .6s, margin-left .6s, margin-right .6s;
}
#menu ul a:hover{
	margin-right: -30px;
	margin-left: 45px;
	background: #00BFFF;
}
body{
	background-color: white;
}
h1{color:black;
}
p{
	color:black;
}
form{
	position: relative;		
	width: 500px;
	height: 750px;
	padding-left: 20px;
	padding-top:15px;
	background-color: #3395ff; 
	border-radius: 20px;
	margin: auto;
}
img{
	height: auto;
	width: auto;
	border-radius: 80px;
	margin-left: 140px;

}
@media (max-width: 40px){
	form{
		width: 100%;
	}
  }
