.form{
	position: relative;		
	width: 700px;
	height: 1750px;
	padding-left: 20px;
	padding-top:15px;
	background-color: #e5dfcd; 
	border-radius: 20px;
	margin: auto;
}
input[type=text],[type=date]{
	width: 200px;
	height: 35px;
}
[type="option"],[type="number"],[type="time"]{
	width: 216px;
	height: 40px;
}
input[type=submit]{

	width: 120px;
	height: 40px;
	border-radius: 20px;
	margin-left: 40px;
	border:0px;
	background-color: #32A43E;
	font: 20px normal normal uppercase helvetica, arial, serif;
 
}
input[type=radio]{
	width: 5px;
	height: 4px;
	margin-left: 20px;
	align-content: auto;

}
a[type=submit]{
	width: 120px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #f2f2f2;
	font: 14px normal normal uppercase helvetica, arial, serif;
	transition:background .2s, color .2s;
}
p{
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
}
@media (max-width: 40px){
	form{
		width: 100%;
	}
  }
