.form{
	position: relative;		
	width: 650px;
	height: 1520px;
	padding-left: 20px;
	padding-top:15px;
	background-color: #e5dfcd; 
	border-radius: 20px;
	margin: auto;
}
input [type="date"],[type="option"],[type="date"]{
	width: 260px;
	height: 45px;

}
input [type="option"],[type=text],[type="Number"],[type="time"]{
	width: 250px;
	height: 40px;
}

a[type=submit]{
	width: 120px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #f2f2f2;
	font: 14px normal normal uppercase helvetica, arial, serif;
	transition:background .2s, color .2s;
}
input[type=button]{

	width: 120px;
	height: 40px;
	border-radius: 20px;
	margin-left: 40px;
	border:0px;
	background-color: #32A43E;
	font: 20px normal normal uppercase helvetica, arial, serif;
 
}
input [type=button]{
	width: 120px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #32A43E;
	font: 14px normal normal uppercase helvetica, arial, serif;

}
@media (max-width: 40px){
	form{
		width: 100%;
	}
  }
