.form{
	position: relative;		
	width: 500px;
	height: 600px;
	padding-left: 20px;
	padding-top:15px;
	background-color: #e5dfcd; 
	border-radius: 20px;
	margin: auto;
}
@media (max-width: 40px){
	form{
		width: 100%;
	}
  }
